# Node dependencies
node_modules/

# Build output
.next/

# Environment variables
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
package-lock.json
.idea
gcs-key.json
dist/